* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card {
    width: 20rem;
    height: 20rem;
    margin: 50px auto;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details {
    opacity: 0;
    width: 100%;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    background-color: #000000aa;
    transition: .3s ease-in;
    color: #ddd;
    font-family: sans-serif;
}

.card:hover .details {
    opacity: 1;
    height: 100%;
}

.details__title { font-size: 1.5em; }

.details__paragraph {
    margin-top: 10px;
    font-size: 1.1em;
}

.social-icons { 
    margin-top: 30px;
}

.social-icons__icon {
    margin: 0 15px;
    font-size: 1.6em;
    padding: 5px;
    transition-property: transform, color, background-color;
    transition-duration: .3s;
    border-radius: 10px;
    text-align: center;
}

.social-icons__icon:hover {
    transform: scale(1.5);
    background-color: #ddd;
}

.social-icons__icon:hover:nth-child(1) {color: #2460f8;}
.social-icons__icon:hover:nth-child(2) {color: #2499f8;}
.social-icons__icon:hover:nth-child(3) {color: #00a727;}
