.cont {
    display: grid;
    place-items: center;
    height: 100vh;
}

.box {
    --time: 100ms;
    width: 150px;
    height: 150px;
    background-color: #558ee3;
    transition: box-shadow var(--time), transform var(--time);
}

.box:hover {
    box-shadow: 1px 1px #333, 2px 2px #333, 3px 3px #333,
                4px 4px #333, 5px 5px #333, 6px 6px #333,
                7px 7px #333, 8px 8px #333, 9px 9px #333;

    transform: translate(-9px, -9px);
} 